<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="hostIP" value="127.0.0.1" />

    <targets>
        <target name="defaultLog" xsi:type="File"
            fileName="${basedir}/logs/application.info.${shortdate}.txt" maxArchiveFiles="30"
            layout="${longdate} | thread: ${threadid} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"
            encoding="UTF-8" />

        <target name="error-log" xsi:type="File"
            fileName="${basedir}/logs/application.error.${shortdate}.txt" maxArchiveFiles="30"
            layout="${longdate} | thread: ${threadid} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"
            encoding="UTF-8" />
    </targets>

    <rules>
        <!--日志级别：Trace -》Debug-》 Information -》Warning-》 Error-》 Critical-->
        <logger name="*"  minlevel="Debug" writeTo="defaultLog" />
        <logger name="*"  minlevel="Error" writeTo="error-log" />
    </rules>
</nlog>